h2 {
    padding-bottom: 2rem;
}

div.map-responsive {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
}

div.map-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 0;
}

div.w-90 {
    width: 90%;
    max-width: 1280px;
}

@media (min-width:992px) {
    #brand-header {
        display: inline-block;
        vertical-align: middle;
    }
    #brand-jumbotron {
        display: none;
    }
}

@media (max-width:991px) {
    #brand-header {
        display: none;
    }
    #brand-jumbotron {
        display: block;
    }
}

#carousel {
    max-height: 500px;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.carousel-indicators,
.carousel-control-prev,
.carousel-control-next {
    filter: invert(100%);
}

#nav-top>img {
    height: 50%;
    width: 50%;
}

img.icon-small {
    width: 128px;
}

img.icon-large {
    width: 256px;
}