.map-responsive {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
}

.map-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 0;
}